:root{
  --cor-textos: #193752;
  --cor-titulo:rgb(255, 255, 255);
  --font-textos: 'Archivo Narrow', sans-serif;
  --font-titulo: 'Archivo Black', sans-serif;
  --paletta-amarelo-base: #E5BC5E;
  --paletta-azul-base: #193752;
  --paletta-verde-claro: #8FC4B6;
  --paletta-verde-meiotom: #69A696;
  --paletta-verde-escuro: #3D796A;
  --feedback-positivo: #7ED957;
  --feedback-negativo: #FF7C7C;
}
html, body {
    height: 100%;
}

body {
    background: url(../img/bg-desk.png) top center / cover no-repeat #333;
    font-size: 26px;
}

p, button {
  font-family: var(--font-textos);
  font-size: 1em;
  color: --cor-textos;
}
h2 {
  font-family: var(--font-titulo);
  color: var(--cor-titulo);
  font-size: 1em;
  text-transform: uppercase;
  text-shadow: 2px 2px 0px #000000a6;
}
.top-slide {
  max-width: 924px;
  width: 100%;
  height: auto;
  display: block;
  margin: auto;
  position: relative;
}
.pergunta {
  width: 100%;
  height: auto;
  background-color: var(--paletta-amarelo-base);
  border: 2px solid;
  border-color: var(--paletta-azul-base);
  padding: 20px;
}
.pergunta p {
  max-width: 670px;
  width: 100%;
  text-align: center;
  padding: 0px;
  margin: auto;
}
header.senac {
    background-color: #50D7E2;
  }
  header.senac {
    height: 80px;
    z-index: 99;
    margin-top: 0;
    top: 0;
    padding-top: 0;
    position: absolute;
    width: 100%;
  }

  .header-tecnicos {
    position: relative;
    overflow: hidden;
    height: 80px;
    background-image: url(../img/bg-topo-logobg.png), url(../img/topo.jpg);
    background-position: right,center;
    background-repeat: no-repeat, no-repeat;
    background-size: contain, cover;
  }
  .container {
    max-width: 990px;
  }
  #nome-curso {
    color: #fff;
  }
  #nome-curso {
    position: relative;
    display: block;
    float: left;
    top: 1.7em;
    top: 15%;
    left: 2.0em;
    font-size: 0.923em;
    font-family: 'robotoregular', Arial, Verdana, Helvetica;
    text-transform: uppercase;
  }
  #logo-senac {
    position: relative;
    float: right;
    right: 2.7em;
    top: 1em;
  }
  @media screen and (max-width: 800px) {
    .container {
      max-width: 96%;
    }
  }
  h1{
  margin-top: 20px;
  margin-bottom: 10px;
}
#top-quiz {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    padding-top: 30px;
  }